name: Codecov
on:
  push:
    branches:
      - 'main'
    paths:
      - '**.ts'

permissions:
  contents: read

jobs:
  codecov:
    uses: christiangalsterer/github-actions/.github/workflows/node_codecov.yaml@main
    secrets: inherit
